[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=rd-menus
X-Python-2-Compatible=false
X-Krita-Manual=manual.html
Name=RD Menus
Comment=Adds 2 new menus for Resources and dockers in the main menu