[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=resource-docker-menus
X-Python-2-Compatible=false
X-Krita-Manual=manual.html
Name=Resource and Docker Menus
Comment=Makes dockers and resources have their own menu